@page "/goods-import-form"

<div class="container mt-5 w-75">
  <h3 class="mb-4">Goods Import Form</h3>

  <form id="countryForm">
    @* country start *@
    <div class="form-group mb-3 position-relative">
      <label for="countryInput">Country</label>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm" id="countryInput" placeholder="Type a country...">
        <button type="button" class="btn btn-sm btn-danger" onclick="clearInput('countryInput')">&times;</button>
      </div>
      <div id="countrySuggestions" class="list-group mt-1" style="cursor: pointer"></div>
    </div>
    @* country end *@
  </form>
</div>

<script >
  function clearInput(inputId) {
    document.getElementById(inputId).value = '';
  }

  $(document).ready(function() {
    // global variable
    let countryCode;
    
    // country start
    $('#countryInput').on('input', function() {
      const input = $(this).val().trim();
      if (input.length >= 3) {
        fetchCountries(input);
      } else {
        hideCountrySuggestions();
      }
    });
    
    $('#countrySuggestions').on('click', 'div', function() {
      const country = $(this).text();
      $('#countryInput').val(country);
      hideCountrySuggestions();
    });
    
    function fetchCountries(input) {
      $.ajax({
        url: `http://localhost:3000/negara?ur_negara=${input}`,
        method: 'GET',
        success: function(data) {
          showCountries(data);
        },
        error: function() {
          $('#countrySuggestions').text('Error fetching data').show();
        }
      });
    }
    
    function showCountries(countries) {
      const countryList = $('#countrySuggestions');
      countryList.empty();
    
      countries.forEach(function(country) {
        const countryName = country.name.toUpperCase();
        const countryItem = $('<div class="list-group-item list-group-item-action">').text(countryName);
        
        countryItem.click(function() {
          $('#countryInput').val(countryName);
          hideCountrySuggestions();
        });
    
        countryList.append(countryItem);
      });
    
      countryList.show();
    }
    
    function hideCountrySuggestions() {
      $('#countrySuggestions').hide();
    }
    // country end
  });
</script>