@page "/goods-import-form"

<div class="container mt-5 w-75">
  <h3 class="mb-4">Goods Import Form</h3>

  <form id="countryForm">
    @* country start *@
    <div class="form-group mb-3 position-relative">
      <label for="countryInput">Country</label>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm" id="countryInput" placeholder="Type a country...">
        <button type="button" class="btn btn-sm btn-danger disabled" id="countryClear" onclick="clearInput('countryInput')">&times;</button>
      </div>
      <div id="countrySuggestions" class="list-group mt-1" style="cursor: pointer"></div>
    </div>
    @* country end *@
    
    @* harbor start *@
      <div class="form-group mb-3 position-relative">
        <label for="harborInput">Harbor</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" id="harborInput" placeholder="Type a harbor...">
          <button type="button" class="btn btn-sm btn-danger" onclick="clearInput('harborInput')">&times;</button>
        </div>
        <div id="harborSuggestions" class="list-group mt-1" style="cursor: pointer"></div>
      </div>
    @* harbor end *@
    
    @* goods start *@
      <div class="form-group mb-3 position-relative">
        <label for="goodsInput" class="form-label">Goods</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" id="goodsInput" maxlength="8" placeholder="Type a goods...">
            <button type="button" class="btn btn-sm btn-danger" onclick="clearInput('goodsInput')">&times;</button>
        </div>
        <textarea name="goodsGenerate" class="form-control bg-white" id="goodsGenerate" cols="30" rows="5" disabled readonly></textarea>
      </div>
    @* goods end *@
    
    @* price start *@
        <div class="form-group mb-3 position-relative">
          <label for="priceInput" class="form-label">Price</label>
          <div class="input-group mb-3">
            <input type="number" class="form-control form-control-sm" id="priceInput" placeholder="Type a price...">
            <button type="button" class="btn btn-sm btn-danger" onclick="clearInput('priceInput')">&times;</button>
          </div>
          <label for="priceInput" class="form-label">Bea Fare</label>
          <input type="text" class="form-control form-control-sm bg-white mb-3" id="beaFareInput" disabled> 
          <label for="priceInput" class="form-label">Bea Price</label>
          <input type="text" class="form-control form-control-sm bg-white mb-3" id="beaPriceInput" disabled> 
        </div>
      @* price end *@
  </form>
</div>

<script >
  function clearInput(inputId) {
    document.getElementById(inputId).value = '';
  }

  $(document).ready(function() {
    // global variable
    let countryCode;
    let beaFare;
    
    // country start
    $('#countryInput').on('input', function() {
      const input = $(this).val().trim();
      if (input.length >= 3) {
        $('#countryClear').removeClass('disabled');
        fetchCountries(input);
      } else {
        hideCountrySuggestions();
      }
    });
    
    function fetchCountries(input) {
      $.ajax({
        url: `http://localhost:3000/negara?ur_negara=${input}`,
        method: 'GET',
        success: function(data) {
          showCountries(data);
        },
        error: function() {
          $('#countrySuggestions').text('Error fetching data').show();
        }
      });
    }
    
    function showCountries(countries) {
      const countryList = $('#countrySuggestions');
      countryList.empty();
    
      countries.forEach(function(country) {
        const countryName = country.name.toUpperCase();
        countryCode = country.kd_negara.toUpperCase();
        const countryItem = $('<div class="list-group-item list-group-item-action">').text(countryName);
        
        countryItem.click(function() {
          $('#countryInput').val(countryName);
          hideCountrySuggestions();
        });
    
        countryList.append(countryItem);
      });
    
      countryList.show();
    }
    
    function hideCountrySuggestions() {
      $('#countrySuggestions').hide();
    }
    // country end
    
    // harbor start
    $('#harborInput').on('input', function() {
      const input = $(this).val().trim();
      if (input.length >= 3) {
        fetchHarbors(input);
      } else {
        hideHarborSuggestions();
      }
    });
    
    function fetchHarbors(input) {
      $.ajax({
        url: 'http://localhost:3000/pelabuhan?kd_negara=' + countryCode + '&ur_pelabuhan=' + input,
        method: 'GET',
        success: function(data) {
          showHarbors(data);
        },
        error: function() {
          $('#harborSuggestions').text('Error fetching data').show();
        }
      });
    }
    
    function showHarbors(harbors) {
      const harborList = $('#harborSuggestions');
      harborList.empty();
    
      harbors.forEach(function(harbor) {
        const harborName = harbor.ur_pelabuhan.toUpperCase();
        const harborItem = $('<div class="list-group-item list-group-item-action">').text(harborName);
        
        harborItem.click(function() {
          $('#harborInput').val(harborName);
          hideHarborSuggestions();
        });
    
        harborList.append(harborItem);
      });
    
      harborList.show();
    }
    
    function hideHarborSuggestions() {
      $('#harborSuggestions').hide();
    }
      
    // harbor end
    
    // goods start
    $('#goodsInput').on('input', function() {
      const input = $(this).val().trim();
      if (input.length === 8) {
        fetchGoods(input);
        fetchBeaFare(input);
      } else {
        $('#goodsGenerate').val('');
        $('#beaFareInput').val('');
      }
    })
    
    function fetchGoods(input) {
      $.ajax({
        url: 'http://localhost:3000/barang?hs_code=' + input,
        method: 'GET',
          success: function(data) {
            let goodsDetails = data.map(function(goods) {
                return goods.details;
            }).join(', ');
            $('#goodsGenerate').val(goodsDetails);
          },
          error: function(xhr, status, error) {
          $('#goodsGenerate').val('Error fetching data. Please try again.');
          }
      });
    }
    // goods end
    
    // price start
    $('#priceInput').on('input', function() {
      const input = $(this).val().trim();
      if (input.length > 0 && !isNaN(input)) {
        const price = parseFloat(input);
        const finalPrice = price * (beaFare / 100);
        $('#beaPriceInput').val(finalPrice.toFixed(2));
      } else {
        $('#beaPriceInput').val('');
      }
    });
    /*$('#priceInput').on('input', function() {
      const input = $(this).val().trim();
      if (input.length > 0) {
        console.log(beaFare)
        const beaPrice = input * beaFare;
        $('#beaPriceInput').val(beaPrice);
      } else {
        $('#beaPriceInput').val('');
      }
    })*/
    // price end
    
    // bea fare start
    function fetchBeaFare(input) {
      $.ajax({
        url: 'http://localhost:3000/tarif?hs_code=' + input,
        method: 'GET',
          success: function(data) {
          beaFare = data[0].rate_bea_masuk;
          $('#beaFareInput').val(data[0].rate_bea_masuk);
          },
          error: function(xhr, status, error) {
          $('#beaFareInput').val('Error fetching data. Please try again.');
          }
      });
    }
    // bea fare end
  });
</script>